*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: "oswal", sans-serif;  
}

header {
    width: 100%;
    min-height: 40vh;
    text-align: center;
    background: 
                linear-gradient(#00000060, #00000050),
                url('../image/ASM6/What-we-offer-title-img-800.jpg') no-repeat center top/cover;
    color: #fff;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;   

}

header h1 {
    font-size: 3rem;
    margin-top: 2rem;
    text-transform: uppercase;
    align-items: center;        /*can giua theo chieu doc*/
    
}
nav{
    align-self: flex-end;
}
nav ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 1.5rem;
  color: #ffffff;
}

nav ul li a  {
  text-decoration: none;
  color: #fff;
  font-weight: lighter;
  padding: 0.5em 0.8em;
  border-radius: 0.4em;
  transition: 0.3s;
}

nav ul li a:hover {
  background: #fff;
  color: #000;
}